.container {
    text-align: center;
    background-color: palegoldenrod;
}

.row {
    margin: 20px;
}

#start {
    margin: auto;
    padding: 10px 30px 10px 30px;
}

body {
    background-color: lemonchiffon;
}